@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.link {
  font-family: "Julius Sans One";
  padding: 1rem;
  text-decoration: none;
  color: #252c26;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #b7cab4;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.link:hover {
  color: #0b1b0b;
  background-color: #7f8f7d;
}

.bg {
  background-color: #252c26;
}

.text {
  color: #b7cab4;
}

h1,
h2,
h3 {
  font-family: "Julius Sans One";
}

h1 {
  font-size: 3em;
}
@media only screen and (max-width: 850px) {
  h1 {
    font-size: 2em;
  }
}

h3 {
  font-size: 2em;
}
@media only screen and (max-width: 850px) {
  h3 {
    font-size: 1.5em;
  }
}

p {
  font-family: "Montaga";
  font-size: 1em;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #202721;
}
.error-container .error-title {
  margin-top: 100px;
  font-size: 6rem;
  color: #439b56;
}
.error-container .error-message {
  font-size: 1.5rem;
  color: #d3e0d1;
  margin: 1rem 0 3rem 0;
}
.error-container .error-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  color: #202721;
  background-color: #439b56;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}
.error-container .error-link:hover {
  background-color: #202721;
  border: solid 2px #439b56;
  color: #439b56;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home-container .header {
  z-index: -2;
  height: 70%;
  position: relative;
  height: 70vh;
  min-height: 400px;
  background-image: url("./src/assets/img/Background/field.jpeg");
  background-size: cover;
  background-position: center;
}
.home-container .header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}
.home-container .header .title-background {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 60vw;
  min-width: 350px;
  box-sizing: border-box;
  padding-left: 7%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0));
}
.home-container .header .title-background .title-container {
  color: #b7cab4;
}
.home-container .header .title-background .title-container .title {
  word-wrap: break-word;
  min-width: 250px;
  max-width: 250px;
  margin-bottom: 30px;
  text-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
}
.home-container .header .title-background .title-container .name {
  text-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
}
.home-container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  background-color: #252c26;
  box-sizing: border-box;
  border-top: 4px solid #b7cab4;
}
.home-container .content .text {
  box-sizing: border-box;
  width: 50%;
  padding-left: 10%;
}
.home-container .content .text .title {
  margin-bottom: 20px;
}
.home-container .content .link-catalog {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 3vh 10vw;
  width: 40%;
}

.films-container {
  box-sizing: border-box;
  margin-left: 20vw;
  padding: 10vh 7vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  overflow-y: auto;
}
.films-container .film-card {
  border-radius: 40px;
  cursor: pointer;
  transform: scale(0.95);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  transition: transform 0.2s ease;
}
.films-container .film-card .infos,
.films-container .film-card .poster {
  border-radius: 20px;
  transition: filter 0.2s ease;
  width: 100%;
  height: 100%;
}
.films-container .film-card .infos {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.8156862745);
  text-align: center;
  color: #b7cab4;
  transition: opacity 0.2s ease;
  opacity: 0;
}
.films-container .film-card:hover {
  transform: scale(1);
}
.films-container .film-card:hover .card-image {
  filter: brightness(0.5);
}
.films-container .film-card:hover .infos {
  opacity: 1;
}
@media only screen and (max-width: 850px) {
  .films-container .film-card {
    width: 150px;
    height: auto;
  }
}
@media only screen and (max-width: 850px) {
  .films-container {
    margin-left: 0;
  }
}

.login {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./src/assets/img/Background/loading_totoro.jpg");
  background-size: cover;
  background-position: center;
}
.login .login-text {
  color: #b7cab4;
  margin: 5vh 0 0 4vw;
}

.margin-page {
  background-color: #1e221e;
}
.margin-page .film-container {
  background-color: #252c26;
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  box-shadow: -10px 0 20px rgba(21, 27, 21, 0.7);
}
.margin-page .film-container .top {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid #b7cab4;
  box-shadow: 0px 3px 20px rgba(21, 27, 21, 0.7);
}
.margin-page .film-container .top .banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
  filter: brightness(0.4);
}
.margin-page .film-container .back-catalog {
  top: 50vh;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  min-width: 150px;
}
@media only screen and (max-width: 850px) {
  .margin-page .film-container .back-catalog {
    left: 50%;
    font-size: 0.8em;
    transform: translate(-50%, -50%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}
.margin-page .film-container .poster {
  border-radius: 20px;
  position: absolute;
  min-width: 180px;
  width: 12%;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -6px 6px 15px rgba(21, 27, 21, 0.7);
}
@media only screen and (max-width: 850px) {
  .margin-page .film-container .poster {
    top: 25vh;
    min-width: 130px;
  }
}
.margin-page .film-container .content {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 850px) {
  .margin-page .film-container .content {
    padding: 25px 0;
  }
}
.margin-page .film-container .content .film-title {
  margin-top: 3vh;
  text-align: center;
}
.margin-page .film-container .content .infos > * {
  padding: 4vh 5%;
}
.margin-page .film-container .content .infos .main-infos {
  margin: 5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #b7cab4;
  color: #252c26;
}
.margin-page .film-container .content .infos .main-infos div h2 {
  margin-bottom: 1vh;
}
@media only screen and (max-width: 850px) {
  .margin-page .film-container .content .infos .main-infos {
    flex-direction: column;
  }
  .margin-page .film-container .content .infos .main-infos div {
    margin-bottom: 3vh;
  }
}
.margin-page .film-container .content .infos .description {
  text-align: center;
}
.margin-page .film-container .content .infos .description h2 {
  margin-bottom: 3vh;
}
@media only screen and (max-width: 850px) {
  .margin-page .film-container {
    margin: 0;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
}
.catalog .catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: solid 4px #b7cab4;
  box-sizing: border-box;
}
.catalog .catalog-header .title {
  background-color: #252c26;
  padding: 2vh 5vw;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-size: 2.5em;
}
@media only screen and (max-width: 850px) {
  .catalog .catalog-header .title {
    font-size: 1.5em;
  }
}
.catalog .catalog-content {
  min-height: 70vh;
  background-color: #252c26;
  display: flex;
  width: 100%;
  flex: 1;
}
.catalog .catalog-content .right-part {
  width: 80vw;
  box-sizing: border-box;
  display: flex;
  flex: 1;
}
.catalog .catalog-content .right-part .no-film {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20vw;
  width: 100%;
}
@media only screen and (max-width: 850px) {
  .catalog .catalog-content .right-part .no-film {
    margin-left: 0;
  }
}
@media only screen and (max-width: 850px) {
  .catalog .catalog-content .right-part {
    width: 100%;
  }
}
.catalog .catalog-content .filters-container {
  position: fixed;
  top: 40vh;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20vw;
  box-sizing: border-box;
  padding: 3vh 2vw;
}
.catalog .catalog-content .filters-container .filters {
  margin-top: 5vh;
}
.catalog .catalog-content .filters-container .filters .label {
  font-size: 1em;
}
.catalog .catalog-content .filters-container .filters .container {
  min-height: 5vh;
  width: 100%;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 0;
}
@media only screen and (max-width: 850px) {
  .catalog .catalog-content .filters-container .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    margin-right: 5vw;
    margin-left: 5vw;
  }
}
.catalog .catalog-content .filters-container .sort-element {
  border-radius: 5px;
  height: 30px;
  text-align: center;
  background-color: #b7cab4;
  color: #252c26;
  border: none;
}
@media only screen and (max-width: 850px) {
  .catalog .catalog-content .filters-container {
    position: relative;
    top: 3vh;
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .catalog .catalog-content {
    flex-direction: column;
  }
}

.slider-container .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-container .slider:focus {
  outline-color: #b7cab4;
}
.slider-container .slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background: #b7cab4;
}
.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #b7cab4;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background-color: #252c26;
  background-size: 50%;
  transition: background-color 0.03s ease;
  cursor: grab;
}
.slider-container .slider::-webkit-slider-thumb:active {
  cursor: grabbing;
  background-color: #7f8f7d;
}
.slider-container .box-minmax {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  color: #b7cab4;
}