@use "./variables" as *;
@use "media_config.scss" as *;

.films-container {
  box-sizing: border-box;
  margin-left: 20vw;
  padding: 10vh 7vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  overflow-y: auto;
  .film-card {
    border-radius: 40px;
    cursor: pointer;
    transform: scale(0.95);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    transition: transform 0.2s ease;
    .infos,
    .poster {
      border-radius: 20px;
      transition: filter 0.2s ease;
      width: 100%;
      height: 100%;
    }
    .infos {
      position: absolute;
      box-sizing: border-box;
      padding: 10px;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: #000000d0;
      text-align: center;
      color: map-get($colors, "text");
      transition: opacity 0.2s ease;
      opacity: 0;
    }
    &:hover {
      transform: scale(1);
      .card-image {
        filter: brightness(0.5);
      }
      .infos {
        opacity: 1;
      }
    }
    @include respond-to(phone) {
      width: 150px;
      height: auto;
    }
  }
  @include respond-to(phone) {
    margin-left: 0;
  }
}
