@use "variables.scss" as *;

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.link {
  font-family: map-get($fonts, "title");
  padding: 1rem;
  text-decoration: none;
  color: map-get($colors, "text-button");
  box-sizing: border-box;
  border-radius: 5px;
  background-color: map-get($colors, "button");
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    color: map-get($colors, "text-button-hover");
    background-color: map-get($colors, "button-hover");
  }
}

.bg {
  background-color: map-get($colors, "background");
}

.text {
  color: map-get($colors, "text");
}

h1,
h2,
h3 {
  font-family: map-get($fonts, "title");
}

h1 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

p {
  font-family: map-get($fonts, "text");
  font-size: 1em;
}
