$colors: (
  "background": #252c26,
  "button": #b7cab4,
  "button-hover": #7f8f7d,
  "border": #598d60,
  "primary": #439b56,
  "secondary": #78ad84,
  "text": #b7cab4,
  "text-button": #252c26,
  "text-button-hover": #0b1b0b,
);

$fonts: (
  "title": "Julius Sans One",
  "text": "Montaga",
);

$mobile-dim: 480px;
$tab1-dim: 768px;
$tab2-dim: 1024px;
$laptop-dim: 1400px;
